<div class="control-group">
    <div class="controls">
        <div class="row-fluid">
            <div ng-class="{well:dragAndDrop}">
                <div ng-class="{dropzone:dragAndDrop}">
                    <h4 ng-show="headerText && headerText != ''">{{headerText}}</h4>
                    <p ng-show="dragAndDrop">
                        <i class="icon-download-alt"/>
                        {{'upload.explanation.dropHere' | translate}}
                    </p>
                    <span class="btn fileinput-button">
                        <span>{{'upload.action.browse' | translate}}</span>
                        <input type="file" name="file" ng-multiple="multiple">
                     </span>
                    <div class="clearfix"></div>
                </div>
                <div ng-show="hasFiles()" class="editor">
                    <hr/>
                    <ul class="unstyled">
                        <li ng-repeat="file in files" class="fade in" ng-show="file != null">
                            <span class="preview">
                                <span class="fade in">
                                    <img ng-src="{{file.previewUri}}"
                                         width="{{file.previewWidth}}"
                                         height="{{file.previewHeight}}"/>
                                </span>
                                <div class="meta">
                                    <div class="name" title="{{file.webkitRelativePath || file.name}}">
                                        {{file.webkitRelativePath || file.name}}
                                    </div>
                                    <div class="size">{{file.size/1024 | number:2}} KB</div>
                                </div>
                            </span>
                            <div class="size" ng-show="!file.uploaded && !file.progress">
                                <p>
                                    <input type="text" ng-model="file.title"
                                           placeholder="{{'upload.placeholder.title' | translate}}"/>
                                </p>
                                <p>
                                    <textarea rows="5" ng-model="file.description"
                                              placeholder="{{'upload.placeholder.description' | translate}}"></textarea>
                                </p>
                            </div>
                            <div class="clearfix"></div>
                            <span class="cancel span2" ng-show="!file.uploaded && !file.progress">
                                <button ng-show="!file.loaded" type="button" class="btn" ng-click="remove($index)">
                                    {{'upload.action.remove' | translate}}
                                </button>
                            </span>
                            <span class="cancel span10" ng-show="file.progress">
                                <div ng-show="!file.uploaded && !file.failed" class="alert">
                                    {{'upload.misc.uploading' | translate}}
                                </div>
                                <div ng-show="file.failed" class="alert alert-error">
                                    {{'upload.misc.failed' | translate}}
                                    <div class="pull-right">
                                        <button ng-show="!file.loaded" type="button" class="btn"
                                                ng-click="remove($index)">
                                            {{'upload.action.dismiss' | translate}}
                                        </button>
                                    </div>
                                </div>
                                <div ng-show="file.uploaded" class="alert alert-block">
                                    {{'upload.misc.uploaded' | translate}}
                                    <div class="pull-right">
                                        <button ng-show="!file.loaded" type="button" class="btn btn-primary"
                                                ng-click="remove($index)">
                                            {{'entity.action.editThumbnails' | translate}}
                                        </button>
                                        <button ng-show="!file.loaded" type="button" class="btn"
                                                ng-click="remove($index)">
                                            {{'upload.action.dismiss' | translate}}
                                        </button>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="progress">
                                    <div class="bar" ng-style="{'width': file.progress+'%'}"></div>
                                </div>
                            </span>

                            <div class="clearfix"></div>
                        </li>
                    </ul>
                    <hr/>
                    <div class="pull-right" ng-show="files.length > 0">
                        <button id="startupload" type="button" class="btn btn-primary" ng-click="submit()">
                            <i class="icon-upload icon-white"></i>
                            <span ng-show="multiple">{{'upload.action.uploadAll' | translate}}</span>
                            <span ng-show="!multiple">{{'upload.action.upload' | translate}}</span>
                        </button>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
