# Data dir
data

# Eclipse
target
target-eclipse
.settings
.classpath
.project

# Intellij
*.iml
.idea

stacktrace.log
.gradle
.DS_Store
.groovy
web-app/WEB-INF/classes/

# conf
shop/application/config-postgres.yml
shop/application/mayocat.yml

# misc
classes
