<!-- list -->
<div id="list" ng-controller="CatalogController">

	<div class="header">
    	<h2>All products</h2>
    </div>

    <!-- list categories -->
    <div ng-show="hasCategories">
        <ul class="list" sortable-on-change="changePosition()" handle-class="dragme">
            <li ng-repeat="category in categories" data-handle="{{category.slug}}">
                <div class="droptarget">
                    <span class="category" ng-click="toggleExpand(category)">
                        <a ng-click="setRoute(category.href)">{{category.title}}</a>
                    </span>
                    <ng-pluralize count="category.numberOfProducts"
                                  when="{'0': 'No product yet',
                                     'one': '1 product',
                                     'other': '{} products'}">
                    </ng-pluralize>
                    <div ng-show="category.isExpanded">
                        <ul class="list" sortable-on-change="changePosition()" handle-class="dragme">
                            <li ng-repeat="product in category.products" data-handle="{{product.slug}}">
                                <div class="row droptarget">
                                    <div><a ng-click="setRoute(product.href)">{{product.title}}</a></div>
                                    <div><span class="dragme move-handle"></span></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div><span class="dragme move-handle"></i></span></div>
                </div>
            </li>
        </ul>
    </div>

    <!-- list remaining products (un-categorized products, or all products if the shop is configured to not have categories -->
    <div>
        <ul ng-show="hasCategories">
            <li><span class="category">Uncategorized products</span></li>
            
            <ul class="list" sortable-on-change="changePosition()" handle-class="dragme">
                <li ng-repeat="product in products" data-handle="{{product.slug}}">
                    <div class="droptarget">
                        <div><a ng-click="setRoute(product.href)">{{product.title}}</a></div>
                        <div><span class="dragme move-handle"></span></div>
                    </div>
                </li>
            </ul>
    	</ul>
    </div>
   
</div>
 
    
    

<!-- main -->
<main role="main">
    <h1 class="big">Products</h1>
    
    <div>
        <h2>Products</h2>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br />
        <a ng-click="setRoute('product/_new')" class="btn btn-primary btn-large">Add a new product</a>
    </div>
    
    <div>
        <h2>Categories</h2>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br />
        <a href="#/category/">Manage categories</a><br />
        <a href="" class="btn btn-primary btn-large">Add a categories</a>
    </div>
    
</main>

