<h1 class="small" ng-show="!isNew()">Edit category</h1>
<h1 class="small" ng-show="isNew()">New category</h1>

<form>
    <article class="entity" ng-class="{true: 'loading', false: ''}[category.title == undefined]">

        <div ng-show="category.title">

            <!-- Title -->
            <input type="text" class="title" ng-model="category.title"/>

            <!-- Description -->
            <div>
                <label>Description</label>
                <textarea rows="10" ng-model="category.description"/>
            </div>
        </div>

    </article>
    <aside>
        <div class="buttons">
            <button ng-click="updateCategory()" class="btn btn-large btn-primary">Update</button>
        </div>
        <p class="uri" ng-show="!isNew()">
            <small>
                <pre>/category/{{category.slug}}</pre>
            </small>
        </p>
    </aside>
</form>
