<form>
  <div class="span8">
    <div class="entity" ng-class="{true: 'loading', false: ''}[product.title == undefined]">

        <div ng-show="product.title != undefined">

          <!-- Title -->
          <h1>
            <input type="text" class="span12" ng-model="product.title" placeholder="Product's title" />
          </h1>

          <!-- Description -->
          <div>
            <label>Description</label>
            <textarea class="span12" rows="10" ng-model="product.description" />
          </div>
        </div>

    </div>
  </div>
  <div class="span2" ng-show="product.title != undefined">
    <div class="buttons">
      <button ng-click="updateProduct()" class="btn btn-large btn-primary">Update</button>
    </div>
    <div class="uri" ng-show="!isNew()">
      <small>at <tt>/product/{{product.slug}}</tt></small>
    </div>
  </div>
</form>
