<form>
  <div class="span8">
    <div class="entity" ng-class="{true: 'loading', false: ''}[product.title == undefined]">

        <div ng-show="product.title != undefined">

          <!-- Title -->
          <h1>
            <input type="text" class="span12" ng-model="product.title" placeholder="Product's title" />
          </h1>

          <!-- Description -->
          <div>
            <label>Description</label>
            <textarea class="span12" rows="10" ng-model="product.description" />
          </div>
        </div>

    </div>
  </div>
  <div class="span4" ng-show="product.title != undefined">
    <div class="buttons">
      <button ng-click="updateProduct()" class="btn btn-large btn-primary">Update</button>
    </div>
    <p class="uri" ng-show="!isNew()">
      <small><pre>/product/{{product.slug}}</pre></small>
    </p>

    <div class="well well-small" ng-show="categories.length > 0">
        <p><strong>Categories</strong></p>
        <ul class="list unstyled">
            <li ng-repeat="category in categories">
                <input type="checkbox" ng-model="category.hasProduct" /> {{category.title}}
            </li>
        </ul>
    </div>
  </div>
</form>
