<?xml version="1.0"?>
<plugin id="mayocat">
    <!-- JAVA TYPES -->
    <extension point="org.datanucleus.java_type">
        <java-type name="org.mayocat.shop.authorization.Capability" persistent="true" dfg="true" embedded="true"
            converter-name="capability-string"/>
    </extension>

    <!-- TYPE CONVERTERS -->
    <extension point="org.datanucleus.type_converter">
        <type-converter name="capability-string" member-type="org.mayocat.shop.capabilities.Capability" datastore-type="java.lang.String"
            converter-class="org.mayocat.shop.store.datanucleus.mapping.CapabilityStringConverter"/>
    </extension>

    <!-- MAPPING, FOR RDBMS -->
    <extension point="org.datanucleus.store_mapping">
        <mapping java-type="org.mayocat.shop.authorization.Capability" mapping-class="org.mayocat.shop.store.datanucleus.mapping.CapabilityMapping"/>
    </extension>
</plugin>
