<div id="catalog">
  <!-- header -->
  <div class="page-header">
    <div class="pull-right">
      <a href="#/category/" class="btn">Manage categories</a>
    </div>

    <h1 class="">Products</h1>
  </div>
  <div>
    <button class="btn btn-primary btn-large">Add a new product</button>
  </div>

  <!-- list/table -->
  <div>
    <ul class="list" sortable-on-change="changePosition()" handle-class="dragme">
      <li ng-repeat="product in products" data-handle="{{product.handle}}">
        <div class="row droptarget">
          <div class="span6">{{product.title}}</div>
          <div class="span1"><a ng-click="setRoute(product.handle)">Edit</a></div>
          <div class="span1"><span class="dragme"><i class="icon-move"></i></span></div>
        </div>
      </li>
    </ul>
  </div>

</div>
