<h1 class="small" ng-show="!isNew()">Edit article</h1>
<h1 class="small" ng-show="isNew()">New article</h1>

<form>
    <article class="entity" ng-class="{'loading': article.title == undefined}">

        <div ng-show="article.title != undefined">

            <!-- Title -->
            <h1>
                <input type="text" class="title" ng-model="article.title" placeholder="article's title"/>
            </h1>

            <!-- Description -->
            <div ng-show="!isNew()">
                <label>Content</label>
                <textarea class="" rows="10" ng-model="article.content" ck-editor />
            </div>

            <div class="block" ng-show="!isNew()">
                <h3>Images ({{article.images.length}})</h3>
                <ul class="thumbnails">
                    <li ng-repeat="image in article.images">
                        <div class="thumbnail">
                            <div class="wrapper">
                                <img ng-src="{{image.file.href}}?width=150&height=150"/>
                            </div>
                            <div class="caption">
                                <span class="featured-star" ng-class="{featured: image.featured}"
                                      ng-click="selectFeatureImage(image)" />
                                <div class="btn-group pull-right">
                                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                        Actions
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li ng-click="editThumbnails(image)"
                                            data-toggle="modal"
                                            href="#editThumbnails">Edit thumbnails
                                        </li>
                                        <li ng-click="removeImage(image)">Remove</li>
                                    </ul>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="modal hide fade" ng-include="'/common/partials/editThumbnails.html'" id="editThumbnails"></div>
                <div class="alert" ng-show="article.images.length <= 0">
                    <strong>No image yet</strong> - use the area below to add images to this article.
                </div>
                <image-upload upload-uri="getImageUploadUri()" on-upload="reloadImages()"></image-upload>
            </div>
        </div>

        <div ng-show="addons.length > 0 && !isNew()">
            <div class="block" ng-repeat="group in addons">
                <h3>{{group.name}}</h3>
                <p ng-show="group.text && group.text != ''">
                    {{group.text}}
                </p>
                <ul>
                    <li ng-repeat="addon in group.fields">
                        {{addon.definition.name}}

                        <addon definition="addon.definition"
                               value="article.addons[addon.index].value"
                               type="article.addons[addon.index].type"></addon>
                    </li>
                </ul>
            </div>
        </div>

    </article>
    </div>
    <aside ng-show="article.title != undefined">
        <div class="buttons">
            <div ng-show="isNew()">
                <!-- Create new article -->
                <div class="hasLoading">
                    <button ng-click="updateArticle()" class="btn btn-large btn-primary">Create</button>
                    <span ng-class="{'loading': isSaving}"></span>
                </div>
            </div>
            <div ng-show="!isNew()">
                <div ng-show="article.published == undefined">
                    <div class="hasLoading">
                        <button ng-click="updateArticle()" class="btn btn-large btn">Save</button>
                        <button ng-click="publishArticle()" class="btn btn-large btn-primary">Publish online</button>
                        <span ng-class="{'loading': isSaving}"></span>
                    </div>
                </div>
                <div ng-show="article.published != undefined">
                    <div class="hasLoading">
                        <button ng-click="updateArticle()" class="btn btn-large btn-primary">Update</button>
                        <span ng-class="{'loading': isSaving}"></span>
                    </div>
                </div>
                <!-- Publish / update article -->
            </div>
        </div>
        <p/>

        <div class="uri" ng-show="!isNew()">
            <a href="/news/{{article.slug}}" target="_new">
                /news/{{article.slug}}
            </a>
        </div>

        <div class="block delete" ng-show="!isNew()">
            <small ng-click="confirmDeletion()">delete this article</small>
        </div>
        <div class="modal hide fade"
             modal-trigger="article:confirmDelete"
             modal-dismiss="article:dismissConfirmDelete"
             id="confirmDeleteArticleModal">
            <div class="modal-header">
                <button type="button" ng-href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Confirm deletion</h3>
            </div>
            <div class="modal-body">
                Please confirm you want to delete this article. There's no coming back !
            </div>
            <div class="modal-footer">
                <a class="btn" data-dismiss="modal" href="#" aria-hidden="true">Cancel</a>
                <a class="btn btn-danger" ng-click="deleteArticle()" aria-hidden="true">Delete this article</a>
            </div>
        </div>

        <div class="block" ng-show="!isNew()">
            <div ng-show="article.published != undefined">
                <div>
                    <span ng-class="{strong: article.published}">published</span>
                    <switch-button ng-model="article.published"></switch-button>
                    <span ng-class="{strong: !article.published}">unpublished</span>
                </div>
            </div>
            <div ng-show="article.published">
                <p>
                    Published on {{article.publicationDate | iso8601toLocalDate:'LLL' }}
                    <br/>
                    <small ng-click="changePublicationDate()">
                        Change publication date
                    </small>
                </p>

                <div ng-show="newPublicationDate != null">
                    <div class="input-append date" id="datePicker">
                        <input type="text" ng-model="newPublicationDate" data-date-format="yyyy-mm-dd" bs-datepicker>
                        <span class="add-on"><i class="icon-calendar"></i></span>
                    </div>

                    <br/>

                    <div class="input-append" id="timePicker">
                        <input type="text" ng-model="newPublicationTime">
                        <span class="add-on"><i class="icon-time"></i></span>
                    </div>

                    <div>
                        <a class="btn" ng-click="cancelChangePublicationDate()">Cancel</a>
                        <a class="btn btn-info" ng-click="validateNewPublicationDate()">Change date</a>
                    </div>
                </div>

            </div>
        </div>

        <div class="block" ng-show="!isNew() && models.length > 0">
            <h3>Model</h3>
            <select ng-model="article.model" ng-options="model.id as model.name for model in models">
                <option value="">Default model</option>
            </select>
        </div>

    </aside>
</form>
