<!-- list -->
<div id="list" ng-controller="ArticlesController">

    <div class="header">
        <h2>{{'content.title.allArticles' | translate}}</h2>
    </div>

    <!-- list pages -->
    <scroll>
        <ul class="list">
            <li ng-repeat="article in articles">
                <div>
                    <div class="droptarget">
                        <div><a ng-click="setRoute('/news/' + article.slug)">{{article.title}}</a></div>
                    </div>
                </div>
            </li>
        </ul>
    </scroll>

</div>