<!-- list -->
<div id="list" ng-controller="ArticlesController">

    <div class="header">
        <h2>{{'content.title.allArticles' | translate}}</h2>
    </div>

    <!-- list pages -->
    <scroll>
        <ul class="list">
            <li ng-repeat="article in articles" data-handle="{{article.slug}}">
                <div class="droptarget listItem">
                    <div><a ng-click="setRoute('/news/' + article.slug)">{{article.title}}</a></div>
                </div>
            </li>
        </ul>
    </scroll>

</div>