<!-- list -->
<div id="list" ng-controller="CatalogController">

	<div class="header">
    	<h2>All products</h2>
    </div>

    <!-- list collections -->
    <div ng-show="hasCollections">
        <ul class="list" sortable-on-change="changePosition()" handle-class="dragme">
            <li ng-repeat="collection in collections" data-handle="{{collection.slug}}">
                <div class="droptarget">
                    <span class="collection" ng-click="toggleExpand(collection)">
                        <a ng-click="setRoute(collection.href)">{{collection.title}}</a>
                    </span>
                    <ng-pluralize count="collection.numberOfProducts"
                                  when="{'0': 'No product yet',
                                     'one': '1 product',
                                     'other': '{} products'}">
                    </ng-pluralize>
                    <div ng-show="collection.isExpanded">
                        <ul class="list" sortable-on-change="changePosition()" handle-class="dragme">
                            <li ng-repeat="product in collection.products" data-handle="{{product.slug}}">
                                <div class="row droptarget">
                                    <div><a ng-click="setRoute(product.href)">{{product.title}}</a></div>
                                    <div><span class="dragme move-handle"></span></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div><span class="dragme move-handle"></i></span></div>
                </div>
            </li>
        </ul>
    </div>

    <!-- list remaining products (orphan products, or all products if the shop is configured to not have collections -->
    <div>
        <ul ng-show="hasCollections">
            <li><span class="collection">Uncategorized products</span></li>
            
            <ul class="list" sortable-on-change="changePosition()" handle-class="dragme">
                <li ng-repeat="product in products" data-handle="{{product.slug}}">
                    <div class="droptarget">
                        <div><a ng-click="setRoute(product.href)">{{product.title}}</a></div>
                        <div><span class="dragme move-handle"></span></div>
                    </div>
                </li>
            </ul>
    	</ul>
    </div>
</div>
