<!-- list -->
<div id="list" ng-controller="CatalogController">

    <div class="header">
        <h2>{{'product.title.allProducts' | translate}}</h2>
    </div>

    <scroll>
        <!-- list collections -->
        <div ng-show="hasCollections">
            <ul class="list" sortable-on-change="changePosition()" handle-class="dragme">
                <li ng-repeat="collection in collections" data-handle="{{collection.slug}}" data-type="collections"
                    ng-class="{hasChildren: collection.products.length > 0}">
                    <div class="droptarget">
                        <div class="listItem">
                        <span class="collection" ng-click="toggleExpand(collection)">
                            <a ng-click="setRoute('/collections/' + collection.slug)">{{collection.title}}</a>
                        </span>
                        </div>
                        <div ng-show="collection.isExpanded && collection.products.length > 0">
                            <ul class="list" sortable-on-change="changePosition()" handle-class="dragme">
                                <li ng-repeat="product in collection.products" data-handle="{{product.slug}}">
                                    <div class="row droptarget">
                                        <div>
                                            <a ng-click="setRoute('/products/' + product.slug)">{{product.title}}</a>
                                        </div>
                                        <div><span class="dragme move-handle"></span></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div><span class="dragme move-handle"></i></span></div>
                    </div>
                </li>
            </ul>
        </div>

        <!-- list remaining products (orphan products, or all products if the shop is configured to not have collections -->
        <div>
            <ul>
                <li ng-class="{hasChildren: hasCollections}">
                    <div class="listItem" ng-show="hasCollections">
                        <span class="collection">
                            {{'product.misc.uncategorized' | translate:getTranslationProperties()}}
                        </span>
                    </div>
                    <ul class="list" sortable-on-change="changePosition()" handle-class="dragme">
                        <li ng-repeat="product in products" data-handle="{{product.slug}}" data-type="products">
                            <div class="droptarget">
                                <div><a ng-click="setRoute('/products/' + product.slug)">{{product.title}}</a></div>
                                <div><span class="dragme move-handle"></span></div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </scroll>

</div>
