<div id="catalog">
    <!-- header -->
    <div class="page-header">
        <div class="pull-right">
            <a href="#/products/" class="btn">{{'product.action.manageProduct' | translate}}</a>
        </div>

        <h1 class="">{{'product.title.collections' | translate}}</h1>
    </div>
    <div>
        <a ng-click="setRoute('pages/_new')" class="btn btn-primary btn-large">
            {{'product.action.addCollection' | translate}}
        </a>
    </div>

    <!-- list/table -->
    <div>
        <ul class="list" sortable-on-change="changePosition()" handle-class="dragme">
            <li ng-repeat="collection in collection" data-handle="{{collection.slug}}">
                <div class="row droptarget">
                    <div class="span6">{{collection.title}}</div>
                    <div class="span1"><a ng-click="setRoute(collection.href)">
                        {{'entity.action.edit' | translate}}
                    </a></div>
                    <div class="span1"><span class="dragme"><i class="icon-move"></i></span></div>
                </div>
            </li>
        </ul>
    </div>

</div>
