<div ng-controller="ThumbnailsEditorController" xmlns="http://www.w3.org/1999/html">
    <div class="modal-header">
        <button type="button" ng-href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Edit image thumbnails</h3>
    </div>
    <form class="form-horizontal">
        <div class="modal-body">
            <div class="pull-left">
                <ul class="unstyled">
                    <li ng-repeat="source in ['platform', 'theme']">
                        <ul class="unstyled">
                            <li ng-repeat="size in configuration[source]" ng-show="isEdited(source, size)">
                                <thumbnail-editor
                                        width="size.dimensions.width"
                                        height="size.dimensions.height"
                                        image="image.file.href"
                                        selection="getSelection(source, size)"
                                        >
                                </thumbnail-editor>
                                <p class="pull-left">
                                    <small>
                                        <em>Editing:</em>
                                        <strong>{{currentSource}}</strong> -
                                        <strong>{{currentSize.name}}</strong>
                                        ({{currentSize.dimensions.width}}x{{currentSize.dimensions.height}})
                                    </small>
                                </p>
                                <p class="pull-right">
                                    <a class="btn btn-primary" ng-click="save()">Save and next</a>
                                </p>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div>
                <div class="align-right">
                    <h3>Pick thumbnail to edit</h3>
                    <ul class="unstyled">
                        <li ng-repeat="source in ['platform', 'theme']">
                            <h4>{{source}}</h4>
                            <ul class="unstyled">
                                <li ng-repeat="size in configuration[source]" ng-click="edit(source, size)">
                                    <span ng-show="isEdited(source, size)">&rarr;</span>
                                    {{size.name}} - <code>{{size.dimensions.width}}x{{size.dimensions.height}}</code>
                                    <i ng-class="getType(source, size)"></i>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- TODO
                <hr />
                <div class="preview">
                    <h3>Preview</h3>
                </div>
                -->
            </div>
            <div class="clearfix"></div>
        </div>
    </form>
    <div class="modal-footer">
        <a class="btn" data-dismiss="modal" href="#" aria-hidden="true">Close</a>
    </div>
</div>