<!-- list -->
<div id="list" ng-controller="PagesController">

    <div class="header">
        <h2>{{'content.title.allPages' | translate}}</h2>
    </div>

    <!-- list pages -->
    <scroll>
        <ul class="list" sortable-on-change="changePosition()" handle-class="dragme">
            <li ng-repeat="page in pages" data-handle="{{page.slug}}">
                <div class="droptarget listItem">
                    <div><a ng-click="setRoute('/pages/' + page.slug)">{{page.title}}</a></div>
                    <div><span class="dragme move-handle"></span></div>
                </div>
            </li>
        </ul>
    </scroll>

</div>