<h1 class="small" ng-show="!isNew()">{{'content.title.editPage' | translate}}</h1>
<h1 class="small" ng-show="isNew()">{{'content.title.newPage' | translate}}</h1>

<form name="pageForm">
    <article class="entity">

        <div>

            <!-- Title -->
            <h1>
                <input type="text" class="title" ng-model="localizedPage.title" localized placeholder="{{'content.placeholder.pageTitle' | translate}}" required />
            </h1>

            <!-- Description -->
            <div ng-show="!isNew()">
                <label>{{'content.misc.content' | translate}}</label>
                <textarea class="" rows="10" ng-model="localizedPage.content" ck-editor localized />
            </div>

            <div class="block" ng-show="!isNew()">
                <h3>{{'image.title.images' | translate:getTranslationProperties()}}</h3>
                <ul class="thumbnails">
                    <li ng-repeat="image in page.images">
                        <div class="thumbnail">
                            <div class="wrapper">
                                <img ng-src="{{image.file.href}}?width=150&height=150"/>
                            </div>
                            <div class="caption">
                                <span class="featured-star" ng-class="{featured: image.featured}"
                                      ng-click="selectFeatureImage(image)" />
                                <div class="btn-group pull-right">
                                    <a class="btn dropdown-toggle" data-toggle="dropdown">
                                        {{'image.misc.actions' | translate}}
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li ng-click="editThumbnails(image)"
                                            data-toggle="modal"
                                            href="#editThumbnails">
                                            {{'entity.action.editThumbnails' | translate}}
                                        </li>
                                        <li ng-click="removeImage(image)">
                                            {{'entity.action.remove' | translate}}
                                        </li>
                                    </ul>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="modal hide fade" ng-include="'/common/partials/editThumbnails.html'" id="editThumbnails"></div>
                <div class="alert" ng-show="page.images.length <= 0">
                    <strong>{{'image.alert.noImage' | translate}}</strong> {{'image.explanation.noImage' | translate}}
                </div>
                <image-upload upload-uri="getImageUploadUri()" on-upload="reloadImages()"></image-upload>
            </div>
        </div>

        <div ng-show="addons.length > 0 && !isNew()">
            <div class="block" ng-repeat="group in addons">
                <h3>{{group.name}}</h3>
                <p ng-show="group.text && group.text != ''">
                    {{group.text}}
                </p>
                <ul>
                    <li ng-repeat="addon in group.fields">
                        {{addon.definition.name}}

                        <addon definition="addon.definition"
                               object="page.addons[addon.index]"
                               localized-object="localizedPage.addons[addon.index]"></addon>
                    </li>
                </ul>
            </div>
        </div>

    </article>
    </div>
    <aside>
        <div class="buttons">
            <div ng-show="isNew()">
                <!-- Create new page -->
                <div class="hasLoading">
                    <button ng-disabled="pageForm.$invalid" ng-click="updatePage()" class="btn btn-large btn-primary">
                        {{'entity.action.create' | translate}}
                    </button>
                    <span ng-class="{'loading': isSaving}"></span>
                </div>
            </div>
            <div ng-show="!isNew()">
                <div ng-show="page.published == undefined">
                    <div class="hasLoading">
                        <button ng-disabled="pageForm.$invalid" ng-click="updatePage()" class="btn btn-large btn">
                            {{'entity.action.save' | translate}}
                        </button>
                        <button ng-click="publishPage()" class="btn btn-large btn-primary">
                            {{'entity.action.publish' | translate}}
                        </button>
                        <span ng-class="{'loading': isSaving}"></span>
                    </div>
                </div>
                <div ng-show="page.published != undefined">
                    <div class="hasLoading">
                        <button ng-disabled="pageForm.$invalid" ng-click="updatePage()" class="btn btn-large btn-primary">
                            {{'entity.action.update' | translate}}
                        </button>
                        <span ng-class="{'loading': isSaving}"></span>
                    </div>
                </div>
                <!-- Publish / update page -->
            </div>
        </div>
        <p/>

        <div class="uri" ng-show="!isNew()">
            <a href="/pages/{{page.slug}}" target="_new">
                /pages/{{page.slug}}
            </a>
        </div>

        <div class="block delete" ng-show="!isNew()">
            <small ng-click="confirmDeletion()">
                {{'content.action.deletePage' | translate}}
            </small>
        </div>
        <div class="modal hide fade"
             modal-trigger="page:confirmDelete"
             modal-dismiss="page:dismissConfirmDelete"
             id="confirmDeletePageModal">
            <div class="modal-header">
                <button type="button" ng-href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>{{'entity.title.confirmDeletion' | translate}}</h3>
            </div>
            <div class="modal-body">
                {{'content.alert.confirmPageDeletion' | translate}}
            </div>
            <div class="modal-footer">
                <a class="btn" data-dismiss="modal" href="#" aria-hidden="true">
                    {{'entity.action.cancel' | translate}}
                </a>
                <a class="btn btn-danger" ng-click="deletePage()" aria-hidden="true">
                    {{'content.action.deletePage' | translate}}
                </a>
            </div>
        </div>

        <div class="block" ng-show="!isNew() && models.length > 0">
            <h3>{{'entity.title.model' | translate}}</h3>
            <select ng-model="page.model" ng-options="model.id as model.name for model in models">
                <option value="">{{'entity.misc.defaultModel' | translate}}</option>
            </select>
        </div>

    </aside>
</form>
