<!-- list -->
<div id="list" ng-controller="PagesController">

    <div class="header">
        <h2>{{'content.title.allPages' | translate}}</h2>
    </div>

    <!-- list pages -->
    <scroll>
        <ul class="list" sortable-on-change="changePosition()" handle-class="dragme">
            <li ng-repeat="page in pages" data-handle="{{page.slug}}">
                <div class="droptarget listItem">
                    <div><a ng-click="setRoute('/pages/' + page.slug)">{{page.title}}</a></div>
                    <div><span class="dragme move-handle"></span></div>
                </div>
            </li>
        </ul>
    </scroll>

</div>

<!-- Deletion modal for pages -->
<script type="text/ng-template" id="confirmDeletionPage.html">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()">&times;</button>
        <h3>{{'entity.title.confirmDeletion' | translate}}</h3>
    </div>
    <div class="modal-body">
        {{'content.alert.confirmPageDeletion' | translate}}
    </div>
    <div class="modal-footer">
        <button class="btn" ng-click="$dismiss()">
            {{'entity.action.cancel' | translate}}
        </button>
        <button class="btn btn-danger" ng-click="$close()">
            {{'content.action.deletePage' | translate}}
        </button>
    </div>
</script>