<h1 class="small" ng-show="!isNew()">Edit product</h1>
<h1 class="small" ng-show="isNew()">New product</h1>

<form>
    <article class="entity" ng-class="{'loading': product.title == undefined}">

        <div ng-show="product.title != undefined">

            <!-- Title -->
            <h1>
                <input type="text" class="title" ng-model="product.title" placeholder="Product's title"/>
            </h1>

            <!-- Description -->
            <div ng-show="!isNew()">
                <label>Description</label>
                <textarea class="" rows="10" ng-model="product.description" ck-editor />
            </div>

            <div class="block" ng-show="!isNew()">
                <h3>Images ({{product.images.length}})</h3>
                <ul class="thumbnails">
                    <li ng-repeat="image in product.images">
                        <div class="thumbnail">
                            <div class="wrapper">
                                <img ng-src="{{image.file.href}}?width=150&height=150"/>
                            </div>
                            <div class="caption">
                                <span class="featured-star" ng-class="{featured: image.featured}"
                                      ng-click="selectFeatureImage(image)" />
                                <div class="btn-group pull-right">
                                    <a class="btn dropdown-toggle" data-toggle="dropdown">
                                        Actions
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li ng-click="editThumbnails(image)"
                                            data-toggle="modal"
                                            href="#editThumbnails">Edit thumbnails
                                        </li>
                                        <li ng-click="image.editMeta = true">Edit metadata</li>
                                        <li ng-click="removeImage(image)">Remove</li>
                                    </ul>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div ng-show="image.editMeta" class="metadata">
                                <div>
                                    <input type="text" ng-model="image.title"
                                           placeholder="Image's title (alternative text)"/>
                                </div>
                                <div>
                                    <textarea rows="5" ng-model="image.description"
                                              placeholder="Description (Optional)"></textarea>
                                </div>
                                <button type="button" class="btn" ng-click="image.editMeta = false">Cancel</button>
                                <button type="button" class="btn btn-primary" ng-click="updateImageMeta(image)">Update</button>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="modal hide fade" ng-include="'/common/partials/editThumbnails.html'" id="editThumbnails"></div>
                <div class="alert" ng-show="product.images.length <= 0">
                    <strong>No image yet</strong> - use the area below to add images to this product.
                </div>
                <image-upload upload-uri="getImageUploadUri()" on-upload="reloadImages()"></image-upload>
            </div>
        </div>

        <div ng-show="addons.length > 0 && !isNew()">
            <div class="block" ng-repeat="group in addons">
                <h3>{{group.name}}</h3>
                <p ng-show="group.text && group.text != ''">
                {{group.text}}
                </p>
                <ul>
                    <li ng-repeat="addon in group.fields">
                        {{addon.definition.name}}
                        <addon definition="addon.definition"
                               value="product.addons[addon.index].value"
                               type="product.addons[addon.index].type"></addon>
                    </li>
                </ul>
            </div>
        </div>

    </article>
    </div>
    <aside ng-show="product.title != undefined">
        <div class="buttons">
            <div ng-show="isNew()">
                <!-- Create new product -->
                <div class="hasLoading">
                    <button ng-click="updateProduct()" class="btn btn-large btn-primary">Create</button>
                    <span ng-class="{'loading': isSaving}"></span>
                </div>
            </div>
            <div ng-show="!isNew()">
                <div ng-show="product.onShelf == undefined">
                    <div class="hasLoading">
                        <button ng-click="updateProduct()" class="btn btn-large btn">Save</button>
                        <button ng-click="publishProduct()" class="btn btn-large btn-primary">Publish online</button>
                    </div>
                </div>
                <div ng-show="product.onShelf != undefined">
                    <div class="hasLoading">
                        <button ng-click="updateProduct()" class="btn btn-large btn-primary">Update</button>
                        <span ng-class="{'loading': isSaving}"></span>
                    </div>
                    <div>
                        <span ng-class="{strong: product.onShelf}">on shelf</span>
                        <switch-button ng-model="product.onShelf"></switch-button>
                        <span ng-class="{strong: !product.onShelf}">withdrawn from sale</span>
                    </div>
                </div>
                <!-- Publish / update product -->
            </div>
        </div>
        <p/>

        <div class="uri" ng-show="!isNew()">
            <a href="/products/{{product.slug}}" target="_new">
                /products/{{product.slug}}
            </a>
        </div>

        <div class="block delete" ng-show="!isNew()">
            <small ng-click="confirmDeletion()">delete this product</small>
        </div>
        <div class="modal hide fade"
             modal-trigger="product:confirmDelete"
             modal-dismiss="product:dismissConfirmDelete"
             id="confirmDeleteProductModal">
            <div class="modal-header">
                <button type="button" ng-href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Confirm deletion</h3>
            </div>
            <div class="modal-body">
                Please confirm you want to delete this product. There's no coming back !
            </div>
            <div class="modal-footer">
                <a class="btn" data-dismiss="modal" href="#" aria-hidden="true">Cancel</a>
                <a class="btn btn-danger" ng-click="deleteProduct()" aria-hidden="true">Delete this product</a>
            </div>
        </div>

        <div class="block" ng-show="!isNew() && models.length > 0">
            <h3>Model</h3>
            <select ng-model="product.model" ng-options="model.id as model.name for model in models">
                <option value="">Default model</option>
            </select>
        </div>

        <div class="block" ng-show="!isNew() && hasCollections && collections.length > 0">
            <h3>Collections</h3>
            <ul class="list unstyled">
                <li ng-repeat="collection in collections">
                    <input type="checkbox" ng-model="collection.hasProduct"/> {{collection.title}}
                </li>
            </ul>
        </div>

        <div class="block" ng-show="!isNew()">
            <h3>Price</h3>

            <div>
                <money-amount ng-model="product.price" currency="EUR"/>
            </div>
        </div>

        <div class="block" ng-show="!isNew() && hasWeight">
            <h3>Weight</h3>

            <div>
                <input type="text" placeholder="Weight" ng-model="product.weight" /> {{weightUnit}}
            </div>
        </div>

        <div class="block" ng-show="!isNew()">
            <h3>Stock</h3>

            <div>
                <input type="text" placeholder="Initial stock" ng-model="product.stock" />
            </div>
        </div>
    </aside>
</form>
