<div ng-controller="CatalogController">
    <h1 class="big">Catalog</h1>

    <div class="intro">
        <h2>Products</h2>
        <p>
            You can edit your products to change their characteristics or images, and also manage their availability
            and price.
        </p>
        <div class="buttons">
            <a ng-click="setRoute('products/_new')" class="btn btn-primary btn-large">Add a new product</a>
        </div>
    </div>

    <div class="intro" ng-show="hasCollections">
        <h2>Collections</h2>
        <p>
            Collections let you categorize your products and group them together in a single page on your website.
        </p>
        <div class="buttons">
            <!--
            <a href="#/collections/">Manage collections</a>
            -->
            <a ng-click="setRoute('collections/_new')" class="btn btn-primary btn-large">Add a new collection</a>
        </div>
    </div>
</div>