<form>
    <div class="page-header">
        <h1 class="">{{'settings.title.shop' | translate}}</h1>
    </div>

    <article class="entity" ng-class="{'loading': tenant.slug == undefined}">
        <div id="settings">
            <div class="span8">
                <!-- header -->

                <div ng-show="tenant.slug != undefined">


                    <div class="block">
                        <!-- Shop name -->
                        <p>{{'settings.misc.shopName' | translate}}</p>
                        <input type="text" ng-model="tenant.name" placeholder="{{'settings.placeholder.shopName' | translate}}" />

                        <!-- Shop logo -->
                        <p>{{'settings.misc.shopLogo' | translate}}</p>
                        <div ng-show="tenant.featuredImage">
                                <img ng-src="{{tenant.featuredImage.file.href}}?height=100"/>
                        </div>
                        <image-upload upload-uri="'/api/tenant/attachments?featuredImage=true'"
                                      on-upload="reloadImages()"
                                      drag-and-drop="false"
                                      multiple="false">
                        </image-upload>
                    </div>

                    <!-- Shop addons (if any) -->
                    <div ng-show="addons.length > 0 && !isNew()">
                        <div class="block" ng-repeat="group in addons">
                            <h3>{{group.name}}</h3>

                            <p ng-show="group.text && group.text != ''">
                                {{group.text}}
                            </p>
                            <ul>
                                <li ng-repeat="addon in group.fields">
                                    {{addon.definition.name}}

                                    <addon definition="addon.definition"
                                           value="tenant.addons[addon.index].value"
                                           type="tenant.addons[addon.index].type"></addon>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>

                <!-- Save button -->
                <div class="hasLoading">
                    <button ng-click="updateTenant()" class="btn btn-large btn-primary">
                        {{'entity.action.update' | translate}}
                    </button>
                    <span ng-class="{'loading': isSaving}"></span>
                </div>
            </div>
        </div>
    </article>
</form>
