#checkout-container {
  background: white;
  padding:20px;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  -o-border-radius:3px;
  -ms-border-radius:3px;
}

.submit-step {
  margin-top: 20px;
}


form div.method img {
  height: 80px;
  margin-right:20px;
}

form div.method .left,
form div.method .middle {
	float:left;
}

form div.method .left {
	width:100px;
	text-align:center;
	height:100px;
	margin-top:30px;
}