#checkout-container {
  background: white;
  padding:20px;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  -o-border-radius:3px;
  -ms-border-radius:3px;
}

.submit-step {
  margin-top: 20px;
}

