@oldYellow : #DCBB4B;

body {
  background-color: lighten(@oldYellow, 20%);
}

#admin-container.container {
  margin-top:50px;
  background-color:white;

  ul.navigation {
    margin-bottom:0;
    background-color: lighten(@oldYellow, 20%);
    border:none;

    li.active a {
      border:none;
    }
  }
}

