<!DOCTYPE html>
<html>
  <body>
    <div th:text="${category.title}">My category</div>
      <ul th:each="product : ${category.products}">
        <li>
          <a href="Product.html" th:href="${product.url}" th:text="${product.title}">
            <span class="description" th:text="${image.description}">Lorem ipsum.</span>
          </a>
          <img th:title="${product.featuredImage?.caption}" th:src="${product.featuredImage?.withSize('s')}" src="./images/foo.gif" title="Some title" />
        </li>
      </ul>

  </body>
</html>
