#home {
  padding: 90px 70px;
}

#catalog ul.list {
  margin-left: 0;
  margin-top: 25px;
}

#catalog ul li {
  color: white;
  border-top: 1px solid #DDDDDD;
  line-height: 26px;
  padding: 6px;
  text-align: left;
  vertical-align: top;
}

#catalog ul li:hover {
  background-color: #F5F5F5;
}

#catalog ul li div {
  color: #333;
}

#catalog ul li div.row {
  margin-left: 0;
}

.thumbnails {
  margin-left: 0;
}

.entity ul.thumbnails > li:first-child {
  margin-left: 0;
}

.entity ul.thumbnails > li {
  margin-left: 0px;
  margin-right: 10px;
  width: 160px; /* 150 + 10 */
}

.entity ul.thumbnails .thumbnail {
  text-align: center;
}

.entity ul.thumbnails .thumbnail .wrapper {
  display: table-cell;
  vertical-align: middle;
  height: 150px;
  width: 150px;
  background-color: #eee;
}

.entity ul.thumbnails .thumbnail {
  position: relative;
}

.entity ul.thumbnails .thumbnail .metadata {
  position: absolute;
  left: 154px;
  top: -1px;
  background: white;
  padding: 10px;
  z-index: 1;
  border: 1px solid #ddd;
  border-left: none;
  width: 300px;
  height: 210px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  text-align: left;

  .loading {
    float: right;
  }
}

.entity ul.thumbnails .thumbnail .caption .dropdown-menu li {
  padding-right: 10px;
  text-align: right;
  cursor: pointer;

  &:hover {
    background-color: #ddd;
  }
}

/* Addons */

addon-string {
  display: block;
}

/* Orders */

.orders ul.stats li {
  margin-bottom: 10px;
}

.table-hover tr {
  cursor: pointer;
}

.order .waiting_for_paiement, .order .paid {
  font-weight: bold;
  background-color: #BBB
}

.order .prepared {
  font-weight: bold;
  background-color: #EEE
}

.order .shipped {
}

/* Order */
#main .order .block {
  border: none !important;
  padding-left: 0px !important;
}

#main .order .block:hover {
  border: none !important;
  padding-left: 0px !important;
}

.order tfoot {
  font-weight: bold;
  border-top: 3px double #333;
  border-bottom: 1px solid #333;
}

.order tr.itemsTotal {
  font-weight: bold;
  border-top: 1px double #333;
  border-bottom: 1px solid #333;
}

/* destination-picker */

destination-picker ul {
  margin-left: 20px;
}

destination-picker input {
  float: left;
  margin-top: -6px !important;
  margin-left: 10px !important;
}

destination-picker p {
  text-indent: 10px;
  position:relative;
}

destination-picker span.arrow:after {
  content: "\00A0";
  min-width: 10px;
  display: inline-block;
  float:left;
}

destination-picker span.arrow.closed,
destination-picker span.arrow.open {
  float:left;
  cursor:pointer;
}

destination-picker span.arrow.closed:after {
  content: "\25B8";
}

destination-picker span.arrow.open:after {
  right:0;
}

/* Tri-state checkbox */

span.tristate.checkbox {
  display:inline;
  background: url(../images/checkbox-unchecked.png) no-repeat;
  width: 20px;
  height: 20px;
  padding-left: 12px;
  margin-left: 13px;

  &.checked {
    background: url(../images/checkbox-checked.png) no-repeat;
  }

  &.indeterminate {
    background: url(../images/checkbox-indeterminate.png) no-repeat;
  }
}

/* Shipping location-picker */

destination-picker .checked .checkbox {
  background: url(../images/checkbox-checked.png) no-repeat !important;
}

destination-picker p.destination {
  display: inline-block;
}

/* List picker */

list-picker select {
  margin-top: 10px;
}

/* Entities localization */

.locales-wrapper {
  position: relative;
  width: 100%;
}

.locales-wrapper:not(.textarea) div[ng-transclude] {
  display: inline-block;
  width: 90%; // Guesswork fallback when there is no calc
  width: -webkit-calc(~"100% - 46px");
  width: calc(~"100% - 46px");
}

.locales-wrapper.textarea .locales-switch {
  position: absolute;
  top: -21px;
  right: 0;
}

.locales-wrapper .dropdown-menu {
  min-width: 37px;
  width: 37px;
}

.locales-wrapper .dropdown-menu li {
  text-align: center;
}