/* Thumbnail editor */

#editThumbnails {
  width: 900px;
  margin: 0px 0 0 -450px;
}

#editThumbnails .modal-body {
  max-height: 550px;
}

#editThumbnails .modal-body .preview {
  display: inline-block;
  margin-left: 20px;
}

thumbnail-editor > div {
  min-width: 500px;
  background-color: #eee;
  margin-bottom: 8px;
}

div.thumbnails-list {
  padding-left: 20px;
  width: calc(~"100% - 500px");
  width: -webkit-calc(~"100% - 500px");
}

div.thumbnails-list h3 {
  line-height: 20px;
}

div.thumbnails-list h3 i {
  opacity: 0.2;
  margin-left: 10px;
}

div.thumbnails-list span.dimensions {
  padding-top:10px;
}

div.thumbnails-list ul li a {
  color: @fontColor;
}

div.thumbnails-list ul li.active a,
div.thumbnails-list ul li.active a:hover {
  background: lightgrey;
}

/* File upload widget */

image-upload .well {
  min-height:120px;
}

image-upload .fileinput-button {
  float: left;
  margin-top: 5px;
}

image-upload .editor ul li {
  min-height: 185px;
}

image-upload .editor ul li span.preview .meta .name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100px;
}

image-upload .editor ul li span.preview > span {
  height: 100px;
  width: 100px;
  display: table-cell;
  border: 1px solid lightgray;
  text-align: center;
  vertical-align: middle;
}

image-upload .editor ul li span.preview > div {
  font-size: 10px;
  text-align: center;
}

image-upload .editor ul li .progress {
  height: 6px;
}

/* Featured image selector */
span.featured-star {

  display: inline-block;
  float: left;
  padding-top: 7px;
  color: @borderStrong;
  cursor: pointer;

  &:hover {
    color: #FDD017;
  }

  &:before {
    content: "\2606";
    font-size: 26px;
  }

  &.featured {
    cursor: auto;
    color: #FDD017;
    &:before {
      content: "\2605";
    }
  }

}

/* Switch button */

switch-button {
  margin-top: 15px;
  display: inline-block;
}

switch-button button {
  height: 18px;
}

/* Entity link */

.uri {
  margin-bottom: 10px;
  max-width: 250px;

  a {
    background: url("../images/externallinkicon.gif") top right no-repeat;
    font-family: monospace;
    color: @fontColor;
    padding-right: 15px;

    &:hover {
      text-decoration: underline;
    }
  }
}

/* List picker (currencies, etc.) */

.pickerElements li {
  float: left;
  padding-right: 5px;
}

/* CKE */

div.cke {
  margin-bottom: 20px;

  .cke_bottom {
    /* Hide the footer without changing CKE code */
    display: none !important;
  }
}

/*
 * Wizard
 *
 * Adapted from FUEL UX https://github.com/ExactTarget/fuelux
 *
 * Fuel UX
 * https://github.com/ExactTarget/fuelux
 *
 * Copyright (c) 2012 ExactTarget
 * Licensed under the MIT license.
 */
.wizard {
  background-color: @backgroundLighter;
  border: 1px solid @borderInput;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  *zoom: 1;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}

.wizard:before,
.wizard:after {
  display: table;
  line-height: 0;
  content: "";
}

.wizard:after {
  clear: both;
}

.wizard ul {
  padding: 0;
  margin: 0;
  list-style: none outside none;
}

.wizard ul li {
  position: relative;
  float: left;
  height: 46px;
  padding: 0 20px 0 30px;
  margin: 0;
  font-size: 16px;
  line-height: 46px;
  color: #999999;
  cursor: default;
  background: #ededed;
}

.wizard ul li .chevron {
  position: absolute;
  top: 0;
  right: -14px;
  display: block;
  border: 24px solid transparent;
  border-right: 0;
  border-left: 14px solid #d4d4d4;
}

.wizard ul li .chevron:before {
  position: absolute;
  top: -24px;
  right: 1px;
  display: block;
  border: 24px solid transparent;
  border-right: 0;
  border-left: 14px solid #ededed;
  content: "";
}

.wizard ul li.complete {
  color: #468847;
  background: #f3f4f5;
}

.wizard ul li.complete:hover {
  cursor: pointer;
  background: #e7eff8;
}

.wizard ul li.complete:hover .chevron:before {
  border-left: 14px solid #e7eff8;
}

.wizard ul li.complete .chevron:before {
  border-left: 14px solid #f3f4f5;
}

.wizard ul li.active {
  color: #3a87ad;
  background: #f1f6fc;
}

.wizard ul li.active .chevron:before {
  border-left: 14px solid #f1f6fc;
}

.wizard ul li .badge {
  margin-right: 8px;
}

.wizard ul li:nth-child(1) {
  z-index: 10;
  padding-left: 20px;
  border-radius: 4px 0 0 4px;
}

.wizard ul li:nth-child(2) {
  z-index: 9;
}

.wizard ul li:nth-child(3) {
  z-index: 8;
}

.wizard ul li:nth-child(4) {
  z-index: 7;
}

.wizard ul li:nth-child(5) {
  z-index: 6;
}

.wizard ul li:nth-child(6) {
  z-index: 5;
}

.wizard ul li:nth-child(7) {
  z-index: 4;
}

.wizard ul li:nth-child(8) {
  z-index: 3;
}

.wizard ul li:nth-child(9) {
  z-index: 2;
}

.wizard ul li:nth-child(10) {
  z-index: 1;
}

.wizard .actions {
  float: right;
  padding-right: 15px;
  line-height: 44px;
  vertical-align: middle;
}

.wizard .actions a {
  margin-right: 8px;
  font-size: 12px;
  line-height: 45px;
}

.wizard .actions .btn-prev i {
  margin-right: 5px;
}

.wizard .actions .btn-next i {
  margin-left: 5px;
}

.step-content .step-pane {
  display: none;
}

.step-content .active {
  display: block;
}