<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" ng-app="mayocat"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title>MayocatShop - Administration</title>

  <!-- Included CSS Files (Compressed) -->
  <link rel="stylesheet" href="stylesheets/bootstrap-responsive.css">
  <link rel="stylesheet" href="stylesheets/bootstrap.css">
  <link rel="stylesheet" href="stylesheets/mayocat.css">

  <script src="javascripts/jquery.js"></script>
  <script src="javascripts/angular-1.0.1.min.js"></script>
  <script src="javascripts/app.js"></script>
  <script src="javascripts/controllers.js"></script>

  <!-- IE Fix for HTML5 Tags -->
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body ng-controller="AppController" ng-cloak>

  <!-- Top navigation bar -->
  <div class="navbar navbar-fixed-top" ng-show="authenticated">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="#">
          MayocatShop
        </a>
        <div class="pull-right" ng-controller="UserCtrl">
          <ul class="nav">
            <li class="dropdown">
              <a href="#"
                    class="dropdown-toggle"
                    data-toggle="dropdown">
                    <span ng-bind="user"></span>
                    <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="">Logout</a>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Main container -->
  <div class="main-container" ng-show="authenticated">
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
          <div class="sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Sidebar</li>
              <li class="active"><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li class="nav-header">Sidebar</li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9" ng-view>
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; Company 2012</p>
      </footer>

    </div><!--/.fluid-container-->
  </div>

  <!-- Login modal -->
  <div class="modal" ng-show="!authenticated" id="myModal">
    <form class="" ng-controller="LoginCtrl">
      <div class="modal-header">
        <h3>Authentication required</h3>
      </div>
      <div class="modal-body" >
        <p>
            <fieldset>
              <label>User name or email</label>
              <input type="text" class="span3" ng-model="username" />
              <label>Password</label>
              <input type="password" class="span3" ng-model="password" />
              <label>Remember me</label>
              <input type="checkbox" ng-model="remember" />
            </fieldset>
        </p>
      </div>
      <div class="modal-footer">
        <input type="submit" value="Login" href="#" class="btn btn-primary" ng-click="requestLogin()"/>
      </div>
    </form>
  </div>
  <div class="modal-backdrop" ng-show="!authenticated"></div>
</body>
</html>
