<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en" ng-app="mayocat"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" ng-app="mayocat"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title>MayocatShop - Administration</title>

  <!-- Included CSS Files -->
  <link rel="stylesheet" href="stylesheets/bootstrap.css">
  <link rel="stylesheet" href="stylesheets/mayocat.css">

  <!-- Vendor scripts -->
  <script src="javascripts/vendor/jquery.js"></script>
  <script src="javascripts/vendor/bootstrap.js"></script>
  <script src="javascripts/vendor/angular-1.0.1.min.js"></script>
  <script src="javascripts/vendor/angular-resource-1.0.1.min.js"></script>

  <!-- Application scripts -->
  <script src="javascripts/app.js"></script>
  <script src="javascripts/controllers.js"></script>
  <script src="javascripts/search.js"></script>
  <script src="javascripts/product.js"></script>

  <!-- IE Fix for HTML5 Tags -->
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body ng-controller="AppController" ng-cloak>

  <!-- Top navigation bar -->
  <div class="navbar navbar-fixed-top" ng-show="authenticated">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="#" ng-bind="tenant.shop.name"></a>
        <form id="search" class="navbar-search pull-left" ng-controller="SearchController">
          <div class="input-append">
            <input id="searchInput" type="text" class="search-query span6 offset2" placeholder="Search" ng-model="term" />
            <span class="add-on close" ng-show="suggestions.length > 0" ng-click="clear()"></span>
          </div>
          <ul id="searchSuggestions" class="typeahead dropdown-menu" ng-show="suggestions.length > 0">
            <li ng-repeat="suggestion in suggestions" ng-click="setRoute(suggestion.handle)">
              <a><h4>{{suggestion.title}}</h4></a>
            </li>
          </ul>
        </form>
        <div class="pull-right">
          <ul class="nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span ng-bind="user.email"></span>
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li ng-click="logout()" class="clickable"><a>Logout</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Main container -->
  <div class="main-container" ng-show="authenticated">
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
          <div class="sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Sidebar</li>
              <li class="active"><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li class="nav-header">Sidebar</li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span8" ng-view>
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; Company 2012</p>
      </footer>

    </div><!--/.fluid-container-->
  </div>

  <!-- Initial AJAX loader -->
  <div class="loader" ng-show="authenticated == undefined"></div>

  <!-- Login modal -->
  <div class="modal" ng-show="authenticated != undefined && !authenticated" id="myModal">
    <form class="" ng-controller="LoginCtrl">
      <div class="modal-header">
        <h3>Authentication required</h3>
      </div>
      <div class="modal-body" >
        <p>
            <fieldset>
              <label>User name or email</label>
              <input type="text" class="span3" ng-model="username" />
              <label>Password</label>
              <input type="password" class="span3" ng-model="password" />
              <label>Remember me</label>
              <input type="checkbox" ng-model="remember" />
            </fieldset>
        </p>
      </div>
      <div class="modal-footer">
        <input type="submit" value="Login" href="#" class="btn btn-primary" ng-click="requestLogin()"/>
      </div>
    </form>
  </div>
  <div class="modal-backdrop" ng-show="authenticated != undefined && !authenticated"></div>
</body>
</html>
