<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="en" ng-app="mayocat"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en" ng-app="mayocat"> <!--<![endif]-->
<head>
    <meta charset="utf-8"/>

    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width"/>

    <title>Mayocat Shop - Administration</title>

    <!-- Included CSS Files -->
    <link rel="stylesheet/less" href="vendor/bootstrap/2.3.1/less/bootstrap.less">
    <link rel="stylesheet/less" href="stylesheets/mayocat.less"/>
    <link rel="stylesheet" href="vendor/blueimp/jquery.fileupload-ui.css"/>
    <link rel="stylesheet" href="vendor/jcrop/css/jquery.Jcrop.min.css"/>

    <!-- Vendor scripts -->
    <script src="vendor/lesscss/less-1.3.3.min.js"></script>
    <script src="vendor/jquery.js"></script>
    <script src="vendor/jquery-ui-1.9.0.custom.min.js"></script>
    <script src="vendor/bootstrap/2.3.1/js/bootstrap-transition.js"></script>
    <script src="vendor/bootstrap/2.3.1/js/bootstrap-modal.js"></script>
    <script src="vendor/bootstrap/2.3.1/js/bootstrap-dropdown.js"></script>
    <script src="vendor/angular/1.1.1/angular.min.js"></script>
    <script src="vendor/angular/1.1.1/angular-resource.min.js"></script>
    <script src="vendor/sortable-ng.js"></script>
    <script src="vendor/blueimp/jquery.fileupload.js"></script>
    <script src="vendor/blueimp/jquery.iframe-transport.js"></script>
    <script src="vendor/blueimp/load-image.min.js"></script>
    <script src="vendor/blueimp/canvas-to-blob.min.js"></script>
    <script src="vendor/blueimp/jquery.fileupload-fp.js"></script>
    <script src="vendor/jcrop/js/jquery.Jcrop.min.js"></script>

    <!-- Application scripts -->
    <script src="javascripts/app.js"></script>
    <script src="javascripts/money.js"></script>
    <script src="javascripts/controllers.js"></script>
    <script src="javascripts/search.js"></script>
    <script src="javascripts/catalog.js"></script>
    <script src="javascripts/thumbnail.js"></script>
    <script src="javascripts/product.js"></script>
    <script src="javascripts/category.js"></script>
    <script src="javascripts/configuration.js"></script>

    <!-- IE Fix for HTML5 Tags -->
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body ng-controller="AppController" ng-cloak>

  <!-- Main container -->
    <div class="sidebar-nav">
    
        <header>
            <div class="logo" ng-click="setRoute('/')"></div>
            <h2 class="brand" ng-bind="configuration.general.name.value"></h2>
            <!-- <small>www.hostname.com</small> -->
            <p>
                <small ng-click="logout()" class="clickable"><a>Logout</a></small>
            </p>
        </header>
    
        <!-- Orders + Customers -->
        <ul class="">
            <li active-class="active">
                <a href="#/order/">
                    <h2>Orders</h2>
                </a>
            </li>
            <li active-class="active">
                <a href="#/customer/">
                    <h2>Customers</h2>
                </a>
            </li>
        </ul>
        
        <!-- Products, Contents, Theme, Statistics -->
        <ul class="">
            <li active-class="active">
                <a href="#/product/" other-active-href="#/category/">
                    <h2>Products</h2>
                </a>
            </li>
            <li active-class="active">
                <a href="#/pages/">
                    <h2>Contents</h2>
                </a>
            </li>
            <li active-class="active">
                <a href="#/theme/">
                    <h2>Theme</h2>
                </a>
            </li>
            <li active-class="active">
                <a href="#/statistics/">
                    <h2>Statistics</h2>
                </a>
            </li>
        </ul>
        
        <!-- Parameters + My account -->
        <ul class="">
            <li active-class="active">
                <a href="#/configuration/">
                    <h2>Parameters</h2>
                </a>
            </li>
            <li active-class="active">
                <a href="#/account/">
                    <h2>My Account</h2>
                </a>
            </li>
        </ul>

    </div>

	<div id="content">

        <!--
          Since there is no notion of "sub-view" or "multiple views" per route, we are include *all* sub-menus here
          and we display them conditionally at the app controller level.
          This has the advantage of pre-loading all subviews controllers/resources, but we have to be careful as the
          number of sub-views grows that is scales properly and doesn't introduce performance issues (at the UI level,
          or by making too much AJAX calls at once when the app loads, etc.
          -->
        <div ng-include class="sub-menu" src="'partials/catalog.html'" ng-show="isCatalog"></div>

        <div role="main" id="main" ng-view></div>
	</div>
    <div class="clearfix"></div>

    <!-- Initial AJAX loader -->
    <div class="loader" ng-show="authenticated == undefined"></div>
    
    <!-- Login modal -->
    <div class="modal" ng-show="authenticated != undefined && !authenticated" id="loginModal">
        <form class="" ng-controller="LoginCtrl">
          <div class="modal-header">
            <h3>Authentication required</h3>
          </div>
          <div class="modal-body" >
            <p>
                <fieldset>
                  <label>User name or email</label>
                  <input type="text" class="span3" ng-model="username" />
                  <label>Password</label>
                  <input type="password" class="span3" ng-model="password" />
                  <label>Remember me</label>
                  <input type="checkbox" ng-model="remember" />
                </fieldset>
            </p>
            <div class="alert" ng-show="authenticationFailed">
            We could not authenticate you with these credentials.
            </div>
          </div>
          <div class="modal-footer">
            <input type="submit" value="Login" href="#" class="btn btn-primary" ng-click="requestLogin()"/>
          </div>
        </form>
    </div>
    <div class="modal-backdrop" ng-show="authenticated != undefined && !authenticated"></div>

  <!-- Error modal -->
  <div class="modal hide fade"
       ng-include="'partials/serverError.html'"
       modal-trigger="event:serverError"
       id="errorModal"></div>

</body>
</html>
