/* STRUCTURE */
html {
  height: 100%;
}
body{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	margin:0px;
	padding:0px;
	height: 100%;
}
h1, h2, h3, h4, h5, h6{
	font-weight:normal;
	margin:0px;
}
ul, li{
	list-style:none;
	padding:0px;
	margin:0px;
}

/*FONT SIZE*/
.sidebar-nav h2, header h2, #list .header h2{
	font-size:16px;
}
.btn {
	font-size:14px;
}
input.title{
	font-size:22px;
}
small{
	font-size:11px;
}
h1.big{
	font-size:40px;
	margin:37px 0px 15px 0px;
}
h1.small{
	font-size:16px;
	margin:60px 0px 15px 0px;
}

/*HEADER*/
header{
	width:239px;
	height:65px;
	border-right:solid 1px;
	padding:15px 0px;
}
header .logo{
	float:left;
	margin:0px 15px;
}

/*MENU*/
.sidebar-nav{
	width:239px;
	height:100%;
	float:left;
	border-right:solid 1px;
}
.sidebar-nav ul{
	margin:0px;
	padding:10px 0px 10px 0px;
	list-style:none;
	border-top:solid 1px;
	border-bottom:solid 1px;
}
.sidebar-nav ul:first-child{
	border-top:none;
}
.sidebar-nav ul:last-child{
	border-bottom:none;
}
.sidebar-nav ul li{
	margin:0px;
	padding:6px 0px 6px 15px;
	width:225px;
}
.sidebar-nav ul li.active{
	padding:5px 0px 5px 15px;
	border-top:solid 1px;
	border-bottom:solid 1px;
}

/*LIST*/
#list{
	width:179px;
	height:100%;
	float:left;
	border-right:solid 1px;
}
#list .header{
	width:164px;
	height:35px;
	padding:60px 0px 0px 15px;
	border-left:solid 1px;
}
#list .category {
	font-weight:bold;
}
#list ul {
	width:175px;
	margin-left:2px;
}
#list li {
	position:relative;
	border-bottom:solid 1px;
	padding:11px 0px;
}
#list ul li  {
	padding-left:15px;
}
#list ul ul li  {
	padding-left:25px;
}
#list .icon-move {
	display:none;
	position:absolute;
	right:0px;
	top:1px;
	width:39px;
	height:39px;
	background-image:url(../images/icon-move.png);
}
#list li:hover .icon-move {
	display:block;
}

/*LAYOUT*/
#content{
	float:left;
	height:100%;
	width: -webkit-calc(100% - 240px);
	width: -moz-calc(100% - 240px);
	width: -o-calc(100% - 240px);
	width: -calc(100% - 240px);
}
main{
	float:left;
	width: -webkit-calc(100% - 335px);
	width: -moz-calc(100% - 335px);
	width: -o-calc(100% - 335px);
	width: -calc(100% - 335px);
	max-width:1200px;
	padding-left:15px;
}
.span8{
	float:left;
	width:100%
}
.span4{
	float:left;
	width:100%
}
@media (min-width: 1200px) { 
	.span8{
		width:70% !important;
	}
	.span4{
		width:20% !important;
	}
}


/*FIELD*/
input, textarea{
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	border:solid 1px;
}

input.title{
	padding:5px 10px;
}

/*BOUTTON*/
.btn {
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	padding:5px 20px;
	border:none;
}









body > div.loader {
  background: url('../images/loader.gif') no-repeat center center;
  width: 100%;
  height: 80%;
  height: -webkit-calc(100% - 175px);
  height: -moz-calc(100% - 175px);
  height: -calc(100% - 175px);
}

.loading {
  background: url('../images/loader-small.gif') no-repeat center center;
  min-height: 34px;
}

.dragme {
  cursor: pointer;
}

.align-right {
  text-align: right;
}

.entity.loading {
  background-position: left;
  margin-left: 0px;
}

.control-group.default input {
  opacity: 0.7;
}

body div.modal {
  /** Reset bootstrap modal border radius */
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}

.clickable:hover {
  cursor: pointer;
}

div.main-container {
  padding-top: 25px;
  background-color:white;
  border: 1px solid #f8e9d8;
  border-bottom:none;
}

.navbar-inner .container {
  /* The search close add-on messes up with the height of the navbar.
     So limit its height whatever is computed. */
  max-height: 40px;
}

#search ul.dropdown-menu {
  display: block;
  width: 580px;
  top: 25px;
  margin-left: -1px;
  border-top:none;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

#search ul.dropdown-menu:before,
#search ul.dropdown-menu:after {
  border: none;
}

#search u.dropdown-menu li {
  padding: 5px 0;
}

#search .add-on.close {
  position: relative;
  left: -28px;
  top: -28px;
  z-index: 10000;
}

#search .add-on.close:before {
  content: '\274c';
  color: #E8503E;
}

input[type='text'].title {
  font-size: 20px;
  height: 50px;
  padding-left: 9px;
}

/* Product */

.entity ul.thumbnails > li:first-child {
  margin-left:0;
}

.entity ul.thumbnails > li {
  margin-left: 0px;
  margin-right: 10px;
  width: 160px; /* 150 + 10 */
}

.entity ul.thumbnails .thumbnail {
  text-align: center;
}

.entity ul.thumbnails .thumbnail .wrapper {
  display: table-cell;
  vertical-align: middle;
  height: 150px;
  width: 150px;
  background-color: #eee;
}

/* File upload widget */

image-upload .fileinput-button {
  float: right;
  margin-top: -5px;
}

image-upload .editor ul li {
 min-height: 185px;
}

image-upload .editor ul li span.preview .meta .name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100px;
}

image-upload .editor ul li span.preview > span {
  height: 100px;
  width: 100px;
  display: table-cell;
  border: 1px solid lightgray;
  text-align: center;
  vertical-align: middle;
}

image-upload .editor ul li span.preview > div {
  font-size: 10px;
  text-align: center;
}

image-upload .editor ul li .progress {
  height: 6px;
}

/* Thumbnails editor */

#editThumbnails {
  width: 900px;
  margin: -350px 0 0 -450px;
}

#editThumbnails .modal-body {
  max-height: 550px;
}

#editThumbnails .modal-body .preview {
  display: inline-block;
  margin-left: 20px;
}

thumbnail-editor > div {
  min-width:500px;
  background-color: #eee;
  margin-bottom: 8px;
}