@charset "UTF-8";

@fontColor:           #333;
@linkColor:           #6ac2bf;
@backgroundHeader:    #e64b3f;
@borderHeaderStrong:  #b33127;
@borderHeaderLight:   #ed8e87;
@backgroundLight:     #fffce9;
@backgroundLighter:   #fffef8;
@borderStrong:        #dcdaca;
@borderLight:         #e9e8e3;
